.home {
}

.wrapper {
  padding-top: 40px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.book-input {
  width: 80%;
}

.result-wrapper {
  margin: 0 auto;
}

.result {
  width: 70px;
  height: 80px;
  background-color: pink;
}
