<template name="Home">
  <div class="content">
          <form class="book-search">
            {{> esInput class="input" index="books" placeholder="Biology for Dummies" }}
          </form>
          <div class="result-wrapper">
              <!-- {{#esEach index="books"}}
              <div class="result">
                  {{title}}
              </div>
              {{/esEach}} -->
          </div>
          <div class="info">
          </div>
          <button class="button">Click Me</button>
  </div>

</template>
